ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{  
    /*margin-right: 3px;*/
}

ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    padding: 5px;
}

.navbar .nav-item a.nav-link{
    color: #000;
    width: 100px;
}

.mobile-nav select{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 4px;
    background: #eee;
    font-size: 1.5em;
    padding: 5px;
}

ul li a.fa.fa-facebook{
    background: blue;
}

ul li a.fa.fa-twitter{
    background: skyblue;
}

ul li a.fa.fa-google-plus{
    background: red;
}

ul li a.fa.fa-pinterest-p{
    background: pink;
}

.mobile-nav{
    display: none;
}

.slider-content{
    padding: 7% 0 0 13%;
}

.btn-default{
    border: 1px solid #999;
}

.red{
    color: red;
}

.padding-top{
    padding-top: 7%;
}

.padding-right{
    padding-right: 10%;
}

.about-bg-img{
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.card-header {
    padding: 0;
}

.card {
    margin-top: 14px;
}

.collection {
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    padding: 13% 6%;
    color: white
}

.organic {
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    padding: 13% 6%;
    color: white
}

.services {
    background-image: url(../images/bg5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    
}
.chef-main {
    position: relative;
}

.chef-main .chef {
    position: absolute;
    bottom: -10rem;
    left: 5%;
}



.card{
    position: relative;
}

.card-header{
    background-color: transparent;
    border: none;

}

img.img-blog{
    position: absolute;
    top: 44%;
    left: 6%
}

div.aurthor



@media only screen and (max-width: 768px){
    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: block;
    }
    
    .chef-main {
        display: none;
    }
}


